<div class="testimonial" {{ block.shopify_attributes }}>
  {% if block.settings.photo != blank %}
    <img
      src="{{ block.settings.photo | image_url: width: 100 }}"
      alt="{{ block.settings.author | escape }}"
      width="80"
      height="80"
      class="testimonial-photo"
      style="border-radius: 50%; width: 80px; height: 80px;"
    >
  {% endif %}

  <p class="testimonial-quote">"{{ block.settings.quote }}"</p>
  <p class="testimonial-author">
    <strong>{{ block.settings.author }}</strong>
  </p>
</div>
